
h1,h2,h3,h4,h5,h6 {font-family: "Oswald"}
body {font-family: " Sans-serif";
   
}
.social-icons{
    background-color:grey;
 
}
.sub-btn{
    color: white;
    background: transparent;
    border: solid;
    border-color: white;
   padding: 10px;
   font-size: 24px;
}
.sub-btn:hover{
    background: white;
    size: 30px;
    color: yellow;
    transition: all 0.3s ease;

}


